h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.slide {
  width: 500px;
  height: auto;
  font-size: 200%;
  text-align: center;
  margin-bottom: 50px;
}

.slide-root {
  min-height: 500px;
  vertical-align: bottom;
}

.thumbnail {
  width: 100px;
  height: 80px;
  float: left;
  margin-right: 33px;
}
