.slide {
  width: 500px;
  height: auto;
  font-size: 200%;
  text-align: center;
  margin-bottom: 50px;
}

.slide-root {
  min-height: 500px;
  vertical-align: bottom;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 80px;
  float: left;
  margin-right: 33px;
  opacity: 0.5;
}

.thumbnail.selected {
  opacity: 1;
  border: 5px solid black;
}

.thumbnails {
  overflow-x: auto;
}

.control {
  position: absolute;
  top: 100px;
  left: 200px;
  font-size: 500%;
  z-index: 100;
  color: white;
}